<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oppgave1</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="formContainer">
            <h3 class="text-center text-light rounded-top bg-dark p-3">Sign Up Page</h3>
            <form action="oppgave1.php" method="post" class="p-4">
              <div class="form-group">
                <input type="email" name="email" class="form-control form-control-lg" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required>
              </div>
              <div class="form-group">
                <input class="form-control form-control-lg" name="firstName" type="text" placeholder="First Name" required>
              </div>
              <div class="form-group">
                <input class="form-control form-control-lg" name="lastName" type="text" placeholder="Last Name" required>
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
              </div>
              <div class="form-group">
                <input type="password" name="passwordCheck" class="form-control form-control-lg" placeholder="Re-enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
              </div>
              {% if status=='OK' %}
              <div class="alert alert-success d-flex justify-content-center mr-3 ml-3" role="alert">
                {{ message }}
              </div>
              {% elseif status=='FAIL' %}
              <div class="alert alert-danger d-flex justify-content-center" role="alert">
                {{ errorMessage }}
              </div>
              {% endif %}
              <div class="sign-up-button">
                  <input type="submit" class="btn btn-info btn-block" value="Sign up"></input>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>